* {
  border-spacing: border-box;
  // border: 1px solid black;
  text-align: center;
  // background-color: blue;
}

.home-page {
  height: 800px;
}

.home-page-logo {
  background-image: url("/assets/taxy-app-logo.png");
  height: 500px;
  width: 100%;
  margin: 100px 0;
  padding: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: #FFF6EF;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

div.navbar-item.nav-bar-logo {
  border-spacing: border-box;
  background-image: url("/assets/taxy-app-logo.png");
  height: 80px;
  width: 70px;
  margin: 10px;
  background-size: cover;
}


body{
background-color: lighten(#FFF6EF, 1%);
}

//USER SHOW

.user-show {
  background-color: lighten(#BEDFDE, 5%);
  border-spacing: border-box;
  padding: 20px;
  margin: 20px;
}

.name {
  padding-top: 2px;
  margin: 10px;
}

hr {
  margin: 8px;
}

.user-show .column {
  padding: 2px;
}
.summary-box {
  color: #6E7FFD;
  border-spacing: border-box;
  border: 1px solid white;
  background-color: lighten(#BEDFDE, 15%);
  padding: 5px 5px 20px 5px;
  max-width: 250px;
  margin: 0 auto;
  // margin-left: 200px;
  // margin-right: 200px;
  margin-top: 10px;
}

.summary-box .column {
  padding: 2px;
}

.summary-box strong {
  color: #6E7FFD;
}
.fa-info-circle {
  color: #6E7FFD;
}

.transaction-link {
  padding: 12px;
}

.transactions {
  color: #6E7FFD;
  border-spacing: border-box;
  border: 1px solid white;
  background-color: lighten(#BEDFDE, 15%);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  // margin-left: 200px;
  // margin-right: 200px;
  margin-top: 10px;
}

.transactions .column {
  padding: 2px;
}

.total {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


// SWITCH

.switch.on {
    background: #BEDFDE;
}

// GOOGLE MAPS

.google-map {
  height: 400px;
  width: 100%;
}
