* {
  border-spacing: border-box;
  // border: 1px solid black;
  text-align: center;
  // background-color: blue;
}

body{
background-color: lighten(#FFF6EF, 1%);
}

//USER SHOW

.user-show {
  background-color: lighten(#BEDFDE, 5%);
  border-spacing: border-box;
  padding: 20px;
  margin: 20px;
}

.summary-box {
  color: #6E7FFD;
  border-spacing: border-box;
  border: 1px solid white;
  background-color: lighten(#BEDFDE, 15%);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  // margin-left: 200px;
  // margin-right: 200px;
  margin-top: 10px;
}

.summary-box strong {
  color: #6E7FFD;
}
.fa-info-circle {
  color: #6E7FFD;
}

.transaction-link {
  padding: 12px;
}

.transactions {
  color: #6E7FFD;
  border-spacing: border-box;
  border: 1px solid white;
  background-color: lighten(#BEDFDE, 15%);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  // margin-left: 200px;
  // margin-right: 200px;
  margin-top: 10px;
}

.total {
  text-align: center;
}


// SWITCH

.switch.on {
    background: #BEDFDE;
}

// GOOGLE MAPS

.google-map {
  height: 400px;
  width: 100%;
}
